---
- name: Basic setup for all hosts
  hosts: all
  become: yes
  tasks:
    - name: Update system
      apt:
        update_cache: yes
        upgrade: dist

    - name: Install common packages
      apt:
        name:
          - curl
          - wget
          - htop
          - tree
        state: present
