---
- name: Install Grafana
  hosts: monitoring
  become: yes
  tasks:
    - name: Install Grafana
      apt:
        name: grafana
        state: present

    - name: Start Grafana
      systemd:
        name: grafana-server
        state: started
        enabled: yes
