---
- name: Configure web servers
  hosts: web_servers
  become: yes
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Create website directory
      file:
        path: /var/www/html
        state: directory
        owner: www-data
        group: www-data

    - name: Create simple index.html
      copy:
        content: |
          <!DOCTYPE html>
          <html>
          <head>
              <title>My course project</title>
          </head>
          <body>
              <h1>Hello from {{ inventory_hostname }}!</h1>
              <p>This is my course project</p>
          </body>
          </html>
        dest: /var/www/html/index.html
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Start nginx
      systemd:
        name: nginx
        state: started
        enabled: yes
